.datePickerInput{
    overflow: hidden;
}

.datePickerInput input{
    width: 100%;
}

.date{
    float:right;
    margin-left: 5px;
    border: 5px;
}

.datePicker{
    display:inline-block;
    min-height:290px;
}