<!-- All the files that are required -->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />-->

<!-- Where all the magic happens -->
<!-- LOGIN FORM -->

<div *ngIf="true" class="page-header" style="padding-left: 50px; color:aliceblue">
    <h1>Login</h1>
</div>

<div class="text-center" style="padding:50px 0">
	<!--<div class="logo">Login</div>-->
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left" [formGroup]="loginForm" role="form">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Email</label>
                        <input type="text" [(ngModel)]="user.Email" class="form-control" 
							id="lg_username" name="lg_username" placeholder="Enter an email"
							[formControl]="loginForm.controls['email']">
						<div *ngIf="loginForm.controls['email'].hasError('required') && !loginForm.controls['email'].pristine" class="alert alert-danger">Email is required.</div>
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" [(ngModel)]="user.Password" class="form-control" 
							id="lg_password" name="lg_password" placeholder="Enter a password"
							[formControl]="loginForm.controls['password']">
						
						<div *ngIf="loginForm.controls['password'].hasError('required') && !loginForm.controls['password'].pristine" class="alert alert-danger">Password is required.</div>
					</div>
					<div class="form-group login-group-checkbox">
						<input type="checkbox" [(ngModel)]="user.UseRefreshTokens" id="lg_remember" 
							name="lg_remember" [formControl]="loginForm.controls['useRefreshTokens']">
						<label for="lg_remember">Remember me</label>
					</div>
					<div>
						<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
					</div>
				</div>
                <button type="submit" class="login-button" [disabled]="!loginForm.valid" (click)="onLoginClicked()"><i class="fa fa-chevron-right"></i></button>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
